.EachDestination
    margin: 60px
    .Page1
        display: flex
        height: 100vh
        width: 100%
        justify-content: center
        flex-direction: column

    .title
        font-size: 80px

    .division
        display: flex
        flex-direction: row
        width: 100%
        justify-content: space-between
        .description
            flex: 1
            width: 100%
            text-align: justify
        .image
            flex: 1
            display: flex
            justify-content: center
            align-items: center
            & img
                width: 50%
