.login
    position: relative
    height: 50vh
    width: 60vw
    margin-top: 20vh
    margin-left: 24vw
    
    color: black 
    display: flex
    flex-direction: column
    border : 4px solid  #FF492F
    border-radius: 2%
    

    & a
    text-decoration: none
    cursor: pointer

    & p
    text-align: left

    & input
      background-color: #F2FAFF
      padding: 2vh 3vw
      display: block
      margin:2vh 4vw
      width: 40vw
    & h1
      text-align: center
      margin-top: 5vh
    .sumbit
      margin: 2vh 4vw
      width: 46vw
      padding: 2vh 3vw
      border: none
      font-weight: bold
      color: #23272B
      font-size: large
      background-color:  #FF492F
   

    







