.DestinationPage
    width: 100%
    margin: 60px 60px
    .DestinationPageTitle
        text-align: left
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
        & h1
            font-size: 24px
        .DestinationPageDescription
            font-size: 18px
            display: flex
            flex-direction: column
            justify-content: space-between
        .DestinationPageViewAll
            font-size: 14px
            padding: 10px
            background-color: #FF492F
            color: white
            border: none
    .DestinationCardsSection
        margin-top: 5vh
        width: 100%
        display: flex
        justify-content: space-evenly
        flex-direction: row
        flex-wrap: wrap
